.display-area {
    margin: 50px 100px;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.display-card {
    background-color: transparent;
    flex-shrink: 0;
    width: 300px;
    min-height: 400px;
    margin: 10px;
    perspective: 1000px;
    /*text-align: center;
    font-size: 2rem;*/
}

.card-content {
    position: relative;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.display-card:hover .card-content {
    transform: rotateY(180deg);
}


.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.front {
    /*background: rgb(255, 153, 0);*/
    text-align: center;
}

.back {
    background: #feb236;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

.front img {
    width: 90%;
    margin-top: 15px;
}

.front-image-background {
    height: 80%
    /*use ivory color for backgrounds of names*/
}

.pokemon-name-section {
    height: 20%;
    background-color: #fbfbed;
    font-family: Gill Sans, sans-serif;
    font-variant-caps: all-petite-caps;
    overflow: hidden;
}

.back img {
    height: 100%
}

.back-image-background {
    width: 100%;
    height: 39%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: aliceblue;
    /*use ivory color for backgrounds of names*/
}

.back-card-name {
    width: 100%;
    height: 10%;
}

.back-card-name > h4 {
    margin: 0;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    color: wheat;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    letter-spacing: 1.5px;
}

.pokeInfo-area {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.weight-height {
    width: 50%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.types {
    width: 50%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokeStat {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    border: 1px solid #f9f0f0;
    width: 80%;
    background-color: #000000;
    text-align: left;
    font-size: 1rem;
    font-family: Arial, sans-serif;
    text-transform: capitalize;
    font-weight: bold;
    color: wheat;
    border-radius: 5px;
    padding: 3px;
}

.center-box {
    text-align: center;
}

.statBar  {
    content: '';
    /* display: inline; */
    /* margin-left: 20px; */
    margin: 1px 1px;
    height: 2px;
    color: red;
    border: 1px solid #e89b0c;
    /* vertical-align: middle; */
    background-color: #feb236;
}

.display-card:hover .statBar {
    animation-name: statBars;
    animation-duration: 2s;
}

@keyframes statBars {
    from {width: 0;}
    to {}

}

.statNumber {
    color: green;
    display: inline-block;
    visibility: hidden;
}

.statNumber::before {
    content: 'Calculating.';
    visibility: hidden;
    font-size: .8rem;
}


.display-card:hover .statNumber {
    color: wheat;
    animation-name: showStatNumber;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes showStatNumber {
    99% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}

.display-card:hover .statNumber::before {
    animation-name: beforeStatNumber;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes beforeStatNumber {
    25% {
        visibility: visible;
        content: "Calculating..";
    }
    50% {
        content: "Calculating...";
    }
    99% {
        content: "Calculating....";
    }
    100% {
        content: "";
    }
}


