.display-area {
    margin: 50px 100px;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.display-card {
    background-color: transparent;
    flex-shrink: 0;
    width: 300px;
    min-height: 400px;
    margin: 10px;
    perspective: 1000px;
    /*text-align: center;
    font-size: 2rem;*/
}

.card-content {
    position: relative;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.display-card:hover .card-content {
    transform: rotateY(180deg);
}


.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.front {
    /*background: rgb(255, 153, 0);*/
    text-align: center;
}

.back {
    background: rgb(32, 170, 106);
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

.front img {
    width: 90%;
    margin-top: 15px;
}

.front-image-background {
    height: 80%
    /*use ivory color for backgrounds of names*/
}

.pokemon-name-section {
    height: 20%;
    background-color: #fbfbed;
    font-family: Gill Sans, sans-serif;
    font-variant-caps: all-petite-caps;
    overflow: hidden;
}

.back img {
    height: 100%
}

.back-image-background {
    width: 100%;
    height: 39%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: aliceblue;
    /*use ivory color for backgrounds of names*/
}

.back-card-name {
    width: 100%;
    height: 10%;
}

.back-card-name > h4 {
    margin: 0;
}

.pokeInfo-area {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.weight-height {
    width: 50%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.types {
    width: 50%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokeStat {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    border: 1px solid black;
    width: 80%;
    background-color: #fbfbed;
    text-align: left;
}

.statBar  {
    content: '';
    /* display: inline; */
    /* margin-left: 20px; */
    margin: 1px 1px;
    height: 2px;
    color: red;
    border: 1px solid black;
    /* vertical-align: middle; */
}

.display-card:hover .statBar {
    animation-name: statBars;
    animation-duration: 1s;
}

@keyframes statBars {
    from {width: 0;}
    to {}

}

